@charset "UTF-8";
/*--------------------
----------------------
MODULES v1
----------------------
--------------------*/


/*--------------------
TABLE OF CONTENTS
----------------------
$ BUTTON $
$ LISTS $
	$ CENTERED LIST $
	$ HORIZONTAL LIST $
	$ UNSIGNED LIST $
$ TABLES $
	$ TABLE LISTING $
--------------------*/


/*--------------------
$ BUTTON $
--------------------*/
.itk-m-button
{
	display:inline-block;
	font-size:inherit;
	text-decoration:none;
	vertical-align:middle;
	white-space:nowrap;

	/*USAGE*/
	/*background:*/
	/*border:*/
	/*border-radius:*/
	/*color:*/
	/*padding:*/
}

.itk-m-button:active,
.itk-m-button:focus,
.itk-m-button:hover
{
	text-decoration:none;
}


/*--------------------
$ LISTS $
--------------------*/


/*--------------------
$ CENTERED LIST $
--------------------*/
.itk-m-list-centered
{
	padding-left:0;
	text-align:center;
}

.itk-m-list-centered > li
{
	display:inline-block;
	padding:0 10px;
}


/*--------------------
$ HORIZONTAL LIST $
--------------------*/
.itk-m-list-hor > li
{
	float:left;
	margin-right:20px;
	padding-right:20px;
}

#itk-wrapper .itk-m-list-hor-divide-1 > li
{
	background:transparent no-repeat center right;
	margin-right:8px;
	padding-right:12px;

	/*USAGE*/
	/*background-image:*/
}

#itk-wrapper .itk-m-list-hor-divide-1 > li:last-child
{
	background:none;
	margin-right:0;
	padding-right:0;
}


/*--------------------
$ UNSIGNED LIST $
--------------------*/
.itk-m-list-unsigned
{
	list-style-type:none;
	padding-left:0;
}


/*--------------------
$ TABLES $
--------------------*/


/*--------------------
$ TABLE LISTING $
--------------------*/
table.itk-m-table-listing
{
	width:auto;
}

table.itk-m-table-listing th,
table.itk-m-table-listing td
{
	border:none;
}