@charset "UTF-8";
/*--------------------
----------------------
HELPERS
----------------------
--------------------*/


/*--------------------
TABLE OF CONTENTS
----------------------
$ ACCESIBILITY $
$ BACKGROUNDS $
$ BRAND COLOURS $
$ DISPLAY $
$ FLOATS $
$ FORMS $
$ GRADIENTS $
$ HR LINE $
$ MIN HEIGHTS $
$ OVERFLOW $
$ PADDING MARGINS $
$ TRANSITION $
$ UTILITIES $
--------------------*/


/*--------------------
QUICK GRAB MEDIA QUERIES
--------------------*/
/*Mobile Landscape*/
@media screen and (min-width:480px)
{}

/*Tablet Portrait*/
@media screen and (min-width:768px)
{}

/*Tablet Landscape*/
@media screen and (min-width:992px)
{}

/*Desktop*/
@media screen and (min-width:1382px)
{}


/*--------------------
QUICK GRAB PORTAL_MEDIA IMG PATH
----------------------
'../img/'
--------------------*/


/*--------------------
$ ACCESIBILITY $
--------------------*/
.sco-h-aria-header
{
	border:none;
	left:0;
	margin:0;
	overflow:hidden;
	padding:0;
	position:absolute;
	top:0;
	visibility:hidden;
	width:1px;
}


/*--------------------
$ BACKGROUNDS $
--------------------*/
.sco-h-bg1
{
	background-color:rgb(255,255,255);
}

.sco-h-bg2
{
	background-color:rgb(48,48,48);
}

.sco-h-grey-background
{
	background-color:rgb(221,221,221);
	margin-left:-10px;
	margin-right:-10px;
	padding:20px 0 1px 0;
}

/*Tablet Portrait*/
@media screen and (min-width:768px)
{
	.sco-h-grey-background
	{
		margin-left:0;
		margin-right:0;
		padding:27px 10px 1px 10px;
	}

	.sco-h-grey-background:after
	{
		background-color:rgb(221,221,221);
		content:"";
		height:3000px;
		left:0;
		position:absolute;
		right:0;
		top:100%;
	}
}

/*Tablet Landscape*/
@media screen and (min-width:992px)
{
	.sco-h-grey-background
	{
		padding:46px 10px 1px 10px;
	}
}


/*--------------------
$ BRAND COLOURS $
--------------------*/
.sco-h-bkcol-brand1,

#itk-wrapper .sco-h-bkcol-brand1-active.current,

a.sco-h-bkcol-brand1-active:focus,
a.sco-h-bkcol-brand1-active:hover,
a:focus .sco-h-bkcol-brand1-active,
a:hover .sco-h-bkcol-brand1-active,

.sco-m-tab .sco-m-tab__navigation a:focus,
.sco-m-tab .sco-m-tab__navigation a:hover,
.sco-m-tab .sco-m-tab__navigation a.current
{
	background:rgb(254,229,0);
}

.sco-h-bkcol-brand2,

a.sco-h-bkcol-brand2-active:focus,
a.sco-h-bkcol-brand2-active:hover,
a:focus .sco-h-bkcol-brand2-active,
a:hover .sco-h-bkcol-brand2-active
{
	background:rgb(0,0,0);
}


/*--------------------
$ DISPLAY $
--------------------*/
.sco-h-display-in-b
{
	display:inline-block;
}


/*--------------------
$ FLOATS $
--------------------*/
.sco-h-pull-right
{
	float:right !important;
}

.sco-h-pull-left
{
	float:left !important;
}


/*--------------------
$ FORMS $
--------------------*/
.sco-h-form-control
{
	background-color:rgb(255,255,255);
	border-radius:4px;
	border:1px solid rgb(180,180,180);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	display:block;
	height:34px;
	padding:6px 12px;
	width:100%;

	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	   -moz-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    -ms-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	     -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	        transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.sco-h-form-control:focus
{
	border-color:rgb(9,113,206);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(9,113,206,.6);
	outline:0;
}


/*--------------------
$ GRADIENTS $
--------------------*/
.sco-h-grad1
{
	background:rgb(248,248,248);
	background:-moz-linear-gradient(top,  rgb(248,248,248) 0%, rgb(227,227,227) 54%, rgb(204,204,204) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(248,248,248)), color-stop(54%,rgb(227,227,227)), color-stop(100%,rgb(204,204,204)));
	background:-webkit-linear-gradient(top,  rgb(248,248,248) 0%,rgb(227,227,227) 54%,rgb(204,204,204) 100%);
	background:-o-linear-gradient(top,  rgb(248,248,248) 0%,rgb(227,227,227) 54%,rgb(204,204,204) 100%);
	background:-ms-linear-gradient(top,  rgb(248,248,248) 0%,rgb(227,227,227) 54%,rgb(204,204,204) 100%);
	background:linear-gradient(to bottom,  rgb(248,248,248) 0%,rgb(227,227,227) 54%,rgb(204,204,204) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#cccccc',GradientType=0 );
}

.sco-h-grad2
{
	background:-moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 67%, rgba(0,0,0,0.75) 70%, rgba(0,0,0,0.64) 75%, rgba(0,0,0,0.2) 90%, rgba(0,0,0,0.06) 96%, rgba(0,0,0,0) 100%);
	background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.8)), color-stop(67%,rgba(0,0,0,0.8)), color-stop(70%,rgba(0,0,0,0.75)), color-stop(75%,rgba(0,0,0,0.64)), color-stop(90%,rgba(0,0,0,0.2)), color-stop(96%,rgba(0,0,0,0.06)), color-stop(100%,rgba(0,0,0,0)));
	background:-webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 67%,rgba(0,0,0,0.75) 70%,rgba(0,0,0,0.64) 75%,rgba(0,0,0,0.2) 90%,rgba(0,0,0,0.06) 96%,rgba(0,0,0,0) 100%);
	background:-o-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 67%,rgba(0,0,0,0.75) 70%,rgba(0,0,0,0.64) 75%,rgba(0,0,0,0.2) 90%,rgba(0,0,0,0.06) 96%,rgba(0,0,0,0) 100%);
	background:-ms-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 67%,rgba(0,0,0,0.75) 70%,rgba(0,0,0,0.64) 75%,rgba(0,0,0,0.2) 90%,rgba(0,0,0,0.06) 96%,rgba(0,0,0,0) 100%);
	background:linear-gradient(to right,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 67%,rgba(0,0,0,0.75) 70%,rgba(0,0,0,0.64) 75%,rgba(0,0,0,0.2) 90%,rgba(0,0,0,0.06) 96%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=1 );
}

.sco-h-grad3
{
	background:rgba(39,39,39,.95);
	background:-moz-linear-gradient(top,  rgba(39,39,39,.95) 0%, rgba(29,29,29,.95) 46%, rgba(13,13,13,.95) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,39,39,.95)), color-stop(46%,rgba(29,29,29,.95)), color-stop(100%,rgba(13,13,13,.95)));
	background:-webkit-linear-gradient(top,  rgba(39,39,39,.95) 0%,rgba(29,29,29,.95) 46%,rgba(13,13,13,.95) 100%);
	background:-o-linear-gradient(top,  rgba(39,39,39,.95) 0%,rgba(29,29,29,.95) 46%,rgba(13,13,13,.95) 100%);
	background:-ms-linear-gradient(top,  rgba(39,39,39,.95) 0%,rgba(29,29,29,.95) 46%,rgba(13,13,13,.95) 100%);
	background:linear-gradient(to bottom,  rgba(39,39,39,.95) 0%,rgba(29,29,29,.95) 46%,rgba(13,13,13,.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#0d0d0d',GradientType=0 );
}

.sco-h-border-grad1-right
{
	border-width:0 1px 0 0;
	border-style:solid;
	border-color:rgb(150,150,150);

	-webkit-border-image:-webkit-linear-gradient(left, rgb(0,0,0) 0%,rgb(165,165,165) 45%,rgb(165,165,165) 55%,rgb(0,0,0) 100%) 1 100%;
	   -moz-border-image:-moz-linear-gradient(left, rgb(0,0,0) 0%, rgb(165,165,165) 45%, rgb(165,165,165) 55%, rgb(0,0,0) 100%) 1 100%;
	     -o-border-image:-o-linear-gradient(left, rgb(0,0,0) 0%,rgb(165,165,165) 45%,rgb(165,165,165) 55%,rgb(0,0,0) 100%) 1 100%;
	        border-image:linear-gradient(to bottom,  rgb(0,0,0) 0%,rgb(165,165,165) 45%,rgb(165,165,165) 55%,rgb(0,0,0) 100%) 1 100%;
}

.sco-h-border-grad1-bottom
{
	border-width:0 0 1px 0;
	border-style:solid;
	border-color:rgb(150,150,150);

	-webkit-border-image:-webkit-linear-gradient(top, rgb(0,0,0) 0%,rgb(165,165,165) 45%,rgb(165,165,165) 55%,rgb(0,0,0) 100%) 1 100%;
	   -moz-border-image:-moz-linear-gradient(top, rgb(0,0,0) 0%, rgb(165,165,165) 45%, rgb(165,165,165) 55%, rgb(0,0,0) 100%) 1 100%;
	     -o-border-image:-o-linear-gradient(top, rgb(0,0,0) 0%,rgb(165,165,165) 45%,rgb(165,165,165) 55%,rgb(0,0,0) 100%) 1 100%;
	        border-image:linear-gradient(to right,  rgb(0,0,0) 0%,rgb(165,165,165) 45%,rgb(165,165,165) 55%,rgb(0,0,0) 100%) 1 0%;
}


/*--------------------
$ HR LINE $
--------------------*/
.sco-h-hr-line
{
	border:0;
	height:1px;
	margin:10px -10px 20px -10px;
}

.sco-h-border-top
{
	border-top:1px solid rgb(255,255,255);
}


/*--------------------
$ MIN HEIGHTS $
--------------------*/
.sco-h-mh20
{
	min-height:20px;
}


/*--------------------
$ OVERFLOW $
--------------------*/
.sco-h-overflow
{
	overflow:hidden;
}

.sco-h-block
{
	display:block;
}


/*--------------------
$ PADDING MARGINS $
--------------------*/
.sco-h-pad-b-1
{
	padding-bottom:1px;
}

.sco-h-pad-tb-5
{
	padding-bottom:5px;
	padding-top:5px;
}

.sco-h-pad-tb-54
{
	padding-bottom:5px;
	padding-top:4px;
}

.sco-h-pad-lr-10
{
	padding-left:10px;
	padding-right:10px;
}

.sco-h-pad-lr-20
{
	padding-left:20px;
	padding-right:20px;
}

.sco-h-pad-t-5
{
	padding-top:5px;
}

.sco-h-pad-t-10
{
	padding-top:10px;
}

.sco-h-pad-tb-10
{
	padding-bottom:10px;
	padding-top:10px;
}

.sco-h-vert-content-pad
{
	padding-top:20px;
}

/*Tablet Landscape*/
@media screen and (min-width:992px)
{
	.sco-h-vert-content-pad
	{
		padding-top:40px;
	}
}

.sco-h-mar-b-0
{
	margin-bottom:0;
}

.sco-h-mar-b-5
{
	margin-bottom:5px;
}

.sco-h-mar-b-10
{
	margin-bottom:10px;
}

.sco-h-mar-b-20
{
	margin-bottom:20px;
}

.sco-h-mar-t--10
{
	margin-top:-10px;
}

.sco-h-mar-b-20
{
	margin-bottom:20px;
}


/*--------------------
$ TRANSITION $
--------------------*/
#itk-wrapper .sco-h-trans,

#itk-wrapper .sco-m-tab .sco-m-tab__navigation a
{
	-webkit-transition:background .3s, box-shadow .3s, color .3s;
	   -moz-transition:background .3s, box-shadow .3s, color .3s;
	    -ms-transition:background .3s, box-shadow .3s, color .3s;
	     -o-transition:background .3s, box-shadow .3s, color .3s;
	        transition:background .3s, box-shadow .3s, color .3s;
}

#itk-wrapper .sco-h-trans-1
{
	-webkit-transition:background 1s, box-shadow 1s, color 1s;
	   -moz-transition:background 1s, box-shadow 1s, color 1s;
	    -ms-transition:background 1s, box-shadow 1s, color 1s;
	     -o-transition:background 1s, box-shadow 1s, color 1s;
	        transition:background 1s, box-shadow 1s, color 1s;
}

/*--------------------
$ UTILITIES $
--------------------*/
.sco-h-height
{
	height:355px;
}

.sco-h-pad-r-10
{
	padding-right:10px;
}

/*Tablet Landscape*/
@media screen and (min-width:992px)
{
	.sco-h-mar-lr--15
	{
		margin-left:-15px;
		margin-right:-15px;
	}
	.sco-h-width-65
	{
		width:65%;
	}
}