@charset "UTF-8";
/*--------------------
----------------------
HEADER
----------------------
--------------------*/


/*--------------------
TABLE OF CONTENTS
----------------------
$ SCO WIFI $
$ SCO WIFI BUTTON $
$ SCO WIFI BUTTON SKIN $
$ SCO WIFI COPY $
$ SCO WIFI FOOTER $
--------------------*/


/*--------------------
QUICK GRAB MEDIA QUERIES
--------------------*/
/*Baseline*/
/*320px*/

/*Mobile Landscape*/
@media screen and (min-width:480px)
{}

/*Tablet Portrait*/
@media screen and (min-width:768px)
{}

/*Tablet Landscape*/
@media screen and (min-width:992px)
{}

/*Desktop*/
@media screen and (min-width:1382px)
{}


/*--------------------
QUICK GRAB PORTAL_MEDIA IMG PATH
----------------------
'../../img/'
--------------------*/

/*--------------------
$ SCO WIFI $
--------------------*/
.sco-home-wifi
{
	background-color:rgb(0,150,185);
}

.sco-m-dollar
{
	left:12px;
	position:relative;
	top:7px;
}

.sco-t-logo-wifi.sco-t-brand2
{
	color:rgb(255,255,255);	
}


/*--------------------
$ SCO WIFI $
--------------------*/
.sco-m-btn-container
{
	border-radius:90px;
	border:2px rgb(254,229,0) solid;
	margin:0 auto;
	min-height:90px;
	width:90px;
}

.sco-m-btn-wifi
{
	border-radius:80px;
	border:none;
	cursor:pointer;
	display:inline-block;
	font-size:10px;
	font-style:normal;
	font-weight:400;
	line-height:inherit;
	margin-top:3px;
	min-height:80px;
	padding:10px;
	text-decoration:none;
	text-transform:uppercase;
	width:80px;
}

a.sco-m-btn-wifi:focus,
a.sco-m-btn-wifi:hover
{
	box-shadow:inset 0 0 2px 2px rgba(0,0,0,.2);
	text-decoration:none;
}

/*Mobile Landscape*/
@media screen and (min-width:480px)
{
	.sco-m-btn-container
	{
		border-radius:110px;
		min-height:110px;
		width:110px;
	}

	.sco-m-btn-wifi
	{
		border-radius:100px;
		font-size:14px;
		min-height:100px;
		width:100px;
	}
}

/*--------------------
$ SCO WIFI BUTTON SKIN $
--------------------*/
.sco-m-btn-skin-wifi
{
	background:rgb(255,255,255);
}


/*--------------------
$ SCO WIFI COPY $
--------------------*/
.sco-m-wifi-container
{
	margin-left:-20px;
	margin-right:-20px;
}

/*Tablet Landscape*/
@media screen and (min-width:992px)
{
	.sco-m-wifi-container
	{
		margin-left:-10px;
		margin-right:-10px;
	}
}

.sco-m-wifi-copy
{
	float:none;
	margin:0 auto;
	position:relative;
}

.sco-m-wifi-copy p
{
	color:rgb(255,255,255)
}


/*--------------------
$ SCO WIFI FOOTER $
--------------------*/
.sco-m-wifi-footer,
.sco-m-wifi-footer-2
{
	background:url(../../img/content/homepage/bg-wifi-cloud-left.png) scroll no-repeat bottom left;
	bottom:0;
	height:52px;
	margin-bottom:0;
	margin-top:0;
	position:relative;
	left:0;
}

.sco-m-wifi-footer-2
{
	background:url(../../img/content/homepage/bg-wifi-cloud-right.png) scroll no-repeat bottom right;
}

.sco-m-wifi-footer a
{
	right:5px;
	position:relative;
	top:35px;
}

/*Tablet Landscape*/
@media screen and (min-width:992px)
{
	.sco-m-wifi-footer a
	{
		top:34px;
	}

	.sco-m-wifi-footer a,
	.sco-m-wifi-footer a:focus,
	.sco-m-wifi-footer a:hover
	{
		color:rgb(0,150,185);	
	}
}
