@charset "UTF-8";
/*--------------------
----------------------
SWIPER
----------------------
--------------------*/


/*--------------------
TABLE OF CONTENTS
----------------------
$ SWIPER $
$ SWIPER PAGER $
$ SWIPER NAV $
$ SWIPER ITEMS $
$ SWIPER ITEM $
--------------------*/


/*--------------------
QUICK GRAB MEDIA QUERIES
--------------------*/
/*Baseline*/
/*320px*/

/*Mobile Landscape*/
@media screen and (min-width:480px)
{}

/*Tablet Portrait*/
@media screen and (min-width:768px)
{}

/*Tablet Landscape*/
@media screen and (min-width:992px)
{}

/*Desktop*/
@media screen and (min-width:1382px)
{}


/*--------------------
QUICK GRAB PORTAL_MEDIA IMG PATH
----------------------
'../../img/'
--------------------*/


/*--------------------
$ SWIPER $
--------------------*/
.sco-m-swiper
{
	position:relative;
}

.sco-m-swiper--shopping
{
	height:182px;
}

.sco-m-swiper--home
{
	height:160px;
}


/*--------------------
$ SWIPER PAGER $
--------------------*/
.sco-m-swiper .sco-m-swiper__indicators
{
	bottom:20px;
	position:absolute;
	text-align:center;
	width:100%;
}

.sco-m-swiper .sco-m-swiper__indicators__dot
{
	background-color:transparent;
	border-radius:50%;
	border:1px solid rgb(200,200,200);
	box-shadow:0 0 10px rgba(0,0,0,.5);
	cursor:pointer;
	display:inline-block;
	height:15px;
	margin-right:10px;
	width:15px;

	-webkit-transition:background-color .5s;
	   -moz-transition:background-color .5s;
	    -ms-transition:background-color .5s;
	     -o-transition:background-color .5s;
	        transition:background-color .5s;
}

.sco-m-swiper .sco-m-swiper__indicators__dot.sco-s-current,
.sco-m-swiper .sco-m-swiper__indicators__dot:hover
{
	background-color:rgb(255,255,255);
}

.sco-m-swiper .sco-m-swiper__indicators__dot:active
{
	box-shadow:inset 0 0 5px rgb(200,200,200);
}

.sco-m-swiper .sco-m-swiper__indicators.sco-m-swiper-home__indicators
{
	bottom:4px;
}

.sco-m-swiper--shopping .sco-m-swiper__indicators__dot.sco-s-current,
.sco-m-swiper--shopping .sco-m-swiper__indicators__dot:hover
{
	background-color:rgb(254,229,0);
}


/*--------------------
$ SWIPER NAV $
--------------------*/
.sco-m-swiper .sco-m-swiper__btn
{
	height:100%;
	position:absolute;
	top:0;
	width:50px;
}

.sco-m-swiper .sco-m-swiper__btn__container
{
	display:block;
	height:100%;
	position:relative;
}

.sco-m-swiper .sco-m-swiper__btn--next
{
	right:0;
}

.sco-m-swiper .sco-m-swiper__btn--prev
{
	left:0;
}

.sco-m-swiper .sco-m-swiper__btn__container__arrow
{
	background-color:rgba(0,0,0,.3);
	color:rgb(255,255,255);
	display:block;
	font-size:25px;
	font-size:2.5rem;
	line-height:1;
	margin-top:-20px;
	padding:6px 0 3px 0;
	position:absolute;
	top:50%;
	width:40px;

	-webkit-transition:margin .5s,box-shadow .5s;
	   -moz-transition:margin .5s,box-shadow .5s;
	    -ms-transition:margin .5s,box-shadow .5s;
	     -o-transition:margin .5s,box-shadow .5s;
	        transition:margin .5s,box-shadow .5s;
}

.sco-m-swiper .sco-m-swiper__btn--prev .sco-m-swiper__btn__container__arrow
{
	border-bottom-right-radius:20px;
	border-top-right-radius:20px;
	left:0;
	margin-left:-40px;
}

.sco-m-swiper .sco-m-swiper__btn--next .sco-m-swiper__btn__container__arrow
{
	border-bottom-left-radius:20px;
	border-top-left-radius:20px;
	margin-right:-40px;
	right:0;
}

.sco-m-swiper .sco-m-swiper__btn__container__arrow:hover
{
	box-shadow:inset 0 0 10px rgb(255,255,255);
}

.sco-m-swiper .sco-m-swiper__btn__container__arrow:focus,
.sco-m-swiper .sco-m-swiper__btn__container__arrow:active
{
	box-shadow:inset 0 0 10px rgb(100,100,100);
}

.sco-m-swiper .sco-m-swiper__btn__container__arrow i
{
	margin:0;

	-webkit-transition:margin .3s;
	   -moz-transition:margin .3s;
	    -ms-transition:margin .3s;
	     -o-transition:margin .3s;
	        transition:margin .3s;
}

.sco-m-swiper .sco-m-swiper__btn--prev .sco-m-swiper__btn__container__arrow:hover i
{
	margin-left:-5px;
}

.sco-m-swiper .sco-m-swiper__btn--next .sco-m-swiper__btn__container__arrow:hover i
{
	margin-left:5px;
}

.sco-m-swiper:hover  .sco-m-swiper__btn__container__arrow,
.sco-m-swiper:focus  .sco-m-swiper__btn__container__arrow
{
	margin-right:0;
	margin-left:0;
}


/*--------------------
$ SWIPER ITEMS $
--------------------*/
.sco-m-swiper .sco-m-swiper__items
{
	overflow:hidden;
}

.sco-m-swiper--shopping .sco-m-swiper__items
{
	border:1px solid rgb(0,0,0);
}

.sco-m-swiper--shopping .sco-m-swiper__items
{
	height:170px;
}

.sco-m-swiper--home
{
	height:180px;
}
.sco-m-swiper--home .sco-m-swiper__items
{
	height:180px;
}


/*--------------------
$ SWIPER ITEM $
--------------------*/
.sco-m-swiper .sco-m-swiper__items__slide
{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	background-color:rgb(254,229,0);
	float:left;
	height:inherit;
}

/*Mobile Landscape*/
@media screen and (min-width:480px)
{
	.sco-m-swiper--home
	{
		height:280px;
	}

	.sco-m-swiper--home .sco-m-swiper__items
	{
		height:280px;
	}
}

/*Tablet Portrait*/
@media screen and (min-width:768px)
{
	.sco-m-swiper--shopping
	{
		height:212px;
	}

	.sco-m-swiper--shopping .sco-m-swiper__items
	{
		height:200px;
	}

	.sco-m-swiper--home
	{
		height:326px;
	}

	.sco-m-swiper--home .sco-m-swiper__items
	{
		height:326px;
	}
}

/*Tablet Landscape*/
@media screen and (min-width:992px)
{
	.sco-m-swiper--shopping
	{
		height:312px;
	}

	.sco-m-swiper--shopping .sco-m-swiper__items
	{
		height:302px;
	}

	.sco-m-swiper--home
	{
		height:241px;
	}

	.sco-m-swiper--home .sco-m-swiper__items
	{
		height:241px;
	}

	.sco-m-swiper .sco-m-swiper__indicators.sco-m-swiper-home__indicators
	{
		bottom:5px;
	}
}